@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.font-poppins {
  font-family: "Poppins", serif;
}

.bg-primary {
  background-color: #0d6efd;
  color: white;
}

.nav {
  max-width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}
